.initial_image {
    min-height: 35vh;
    background: url('/public/images/shelve.jpeg') no-repeat;
    background-position: top;
    background-size: 100%;
}

.top_livros{
    text-align: center;
    color: white;
    font-size: calc(8vh - 10px);
    padding-top: 15vh;
    font-family: sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;;
}

.top_books{
    height: 100%;
    background: #ffffff
}

.slider{
    height: 360px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow-x: clip;
}

.slide_track{
    display: flex;
    animation: scroll 40s linear infinite;
}

.slide_track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px*9));
    }
}

.slide {
    width: 700px;
    display: flex;
    align-items: center;
    perspective: 100px;

}

.slide img {
    width: 40%;
    height: 75%;
    margin-left: 1%;
    margin-top: 30%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.9);
}

.slide img:hover {
    transform: translateZ(20px);
    cursor: pointer;
}

.slider::before,
.slider::after{
    /*background: linear-gradient(to right, rgba(41,41,41,1) 0%,
    rgba(41,41,41,0) 100%);*/
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotate(180deg);
}

.topBooksInformation{
    width: 99%;
    height: 360px;
    background-color: #292929;
    display: flex;
    justify-content: space-between;
}

.topBookInfo{
    color: white;
    padding-left: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}
.topBookInfo h3{
    height: 50px;
    margin-right: 0%;
    margin-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}

.shortDescription{
    height: 50%;
    padding-top: 10px;
    color: whitesmoke;
    font-size: 11px;
}

.authors{
    color: whitesmoke;
    font-size: 10px;
}

.checkBookButton{
    cursor: pointer;
    color: black;
    background-color: white;
    width: 80%;
    border-radius: 50px;
    box-shadow: 00px 0px 10px 5px rgba(0, 0, 0, 0.3);
    margin-left: 10%;
    padding: 10px;
}

.main_divider{
    width: 100%;
    height: 10vh;
}

body{
    background-color: #ffffff;
}