
.filterContainer {
    margin-left: 7%;
    padding-top: 3%;
}

.filterBar {
  display: flex;
}
.filterContainer p {
  font-size: 30px;
}

.filterContainerLeftSide {
  display: flex;
  padding-top: 20px;
  gap: 20px;
  width: 40%;
}

.filterContainerLeftSide li{
  list-style-type: none;
  width: 100%;
}


.filterContainerRightSide {
  display: flex;
  justify-content: end;
  padding-top: 20px;
  gap: 20px;
  width: 60%;
  margin-right: 7%;
}

.filterContainerRightSide li{
  list-style-type: none;
  width: 30%;

}